/*responsive for teblet*/
@media only screen and (min-width:200px) and (max-width:991px){
.menu {  margin-left: 19px;}
.search {margin-right: 19px; margin-top: 5px;}
.search input[type=submit] { margin: -19px -8px 0px 0px;}
.social_icon {margin: 22px 23px;}
.navsection {display: none;}
.slicknav_menu{display:block;}
.bx-wrapper {max-width: 100%;}
.details h1 {font-size: 48px;line-height: 68px;}
.divided {width: 27.33%;}
.clint_say h3 {padding: 13px 56px;}
.hero_area h2 {font-size: 18px;}	
.divided2 {width: 21%;}
.footer p {width: 400px;}
}

/*responsive for iphone 6/7/8 */

@media only screen and (min-width:200px) and (max-width:480px){

.mini_header {height: 94px;}
.menu {width: 100%;}
.search input {float: right;}
.search input[type="submit"] {width: 44%;}
.logo {margin: -12px 92px;width: 100%;}
.mainheader {height: 101px;}
.social_icon ul li {padding: 12px 4px;}
.imgages img {margin: 0px;}
.details h1 {font-size: 28px;text-align: center;}
.details p {font-size: 14px;padding: 0 25px;}
.details a {font-size: 14px;margin-top: 24px;}
.divided {width: 90%;}
.divided {padding: 13px 20px;}
.divided2 {width: 90%;}
.contact input[type="text"], textarea {width: 370px;
          padding: 12px;}
.contact_section h2 {text-align: center;}
.hero_area h2 {text-align: center;}
.footer p {margin: 10px 80px;font-size: 14px;}
.footer h5 {float: left;font-size: 10px;margin: 0px 111px;}
.search form {margin-top: -4px;}
.full_container{}
html,body{ }



}

